In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
X, y_true = make_blobs(n_samples=500, centers=3, cluster_std=4, random_state=42)

In [7]:
df = pd.DataFrame(X, columns=['Feature_1', 'Feature_2'])
df

     Feature_1  Feature_2
0    -2.282534  -9.692815
1    -6.147668   1.755990
2    13.399091  -1.260023
3    -4.077630   3.160226
4     9.444735   0.340868
..         ...        ...
495  -1.282205  -3.181575
496  -2.817604  10.378894
497   3.296740   8.649256
498  -8.970519  -2.684073
499   6.717265   8.104125

[500 rows x 2 columns]

In [8]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df)