In [1]:
student = {"name": "Zaid ",
            "age": 21, 
            "Branch": ["DataScience", "ArtificialIntelligence"] ,
            "sem": 7  , 
            "Course": "B.Tech"}
print(student)

{'name': 'Zaid ', 'age': 21, 'Branch': ['DataScience', 'ArtificialIntelligence'], 'sem': 7, 'Course': 'B.Tech'}

- how to create a dictionary
- how to access elements in a dictionary
- how to apply loops
- how to make nested dictionaries
- how to acsess values in nested dictionary

In [2]:
temp = {
    "lucknow": {"min": 45, "max": 50},
    "delhi": {"min": 30, "max": 40},
    "mumbai": {"min": 25, "max": 35}
}

In [3]:
# another way to create a dictionary
student = dict(name = "Zaid", age = 21, Branch = ["DataScience", "ArtificialIntelligence"], sem = 7, Course = "B.Tech")
print(student)

{'name': 'Zaid', 'age': 21, 'Branch': ['DataScience', 'ArtificialIntelligence'], 'sem': 7, 'Course': 'B.Tech'}

In [4]:
# taking input from user and adding it to dictionary
student["phone"] = input("Enter your phone number: ")
print(student)

{'name': 'Zaid', 'age': 21, 'Branch': ['DataScience', 'ArtificialIntelligence'], 'sem': 7, 'Course': 'B.Tech', 'phone': '76'}

In [5]:
# accessing elements in a dictionary


#method 1
print(student["name"])


#method 2
print(student.get("age"))

Zaid
21

In [6]:
student.keys()

dict_keys(['name', 'age', 'Branch', 'sem', 'Course', 'phone'])

In [7]:
student.values()

dict_values(['Zaid', 21, ['DataScience', 'ArtificialIntelligence'], 7, 'B.Tech', '76'])

In [8]:
student.items()

dict_items([('name', 'Zaid'), ('age', 21), ('Branch', ['DataScience', 'ArtificialIntelligence']), ('sem', 7), ('Course', 'B.Tech'), ('phone', '76')])

In [9]:
#loop 
for k in student.items():
    print(k)

('name', 'Zaid')
('age', 21)
('Branch', ['DataScience', 'ArtificialIntelligence'])
('sem', 7)
('Course', 'B.Tech')
('phone', '76')

In [10]:
for k, v in student.items():
    print(f"{k} : {v}")

name : Zaid
age : 21
Branch : ['DataScience', 'ArtificialIntelligence']
sem : 7
Course : B.Tech
phone : 76

In [11]:
# nested dictionary

company = {
    "employee1": {"name": "Alice", "age": 30, "Department": 'HR' },
    "employee2": {"name": "Bob", "age": 25, 'Department': 'IT' },
    "employee3": {"name": "Charlie", "age": 28, 'Department': 'Finance' }
}

In [12]:
print(company)

{'employee1': {'name': 'Alice', 'age': 30, 'Department': 'HR'}, 'employee2': {'name': 'Bob', 'age': 25, 'Department': 'IT'}, 'employee3': {'name': 'Charlie', 'age': 28, 'Department': 'Finance'}}

In [13]:
company['employee4'] = {"name": "David", "age": 35, 'Department': 'Marketing' }
print(company)

{'employee1': {'name': 'Alice', 'age': 30, 'Department': 'HR'}, 'employee2': {'name': 'Bob', 'age': 25, 'Department': 'IT'}, 'employee3': {'name': 'Charlie', 'age': 28, 'Department': 'Finance'}, 'employee4': {'name': 'David', 'age': 35, 'Department': 'Marketing'}}

In [14]:
company['employee2']['age']

25

In [15]:
#