In [1]:
a = 5
type(a)

int

In [2]:
a = 3.14
type(a)

float

In [3]:
a = "hello"
type(a)

str

In [4]:

num=int(input("Enter a number: "))
area = 3.14 * num * num
print("area of circle is :", area)

area of circle is : 78.5

SPECIAL DATATYPES

In [ ]:
#LIST {represented with square brackets}


my_list = [1, 2, 3, 4, 5]
vals = [1,2.2,'python']
colors = ['red', 'green', 'blue']
print(colors[0])

red

In [ ]:
#TUPLE {represented with round brackets}


coordinates = (10.0, 20.0)
print(coordinates[0])

10.0

In [11]:
# SET {represented with curly brackets}
# NO DUPLICATES ALLOWED ,, VALUES ARE UNORDERED
# REMOVE DUPLICATES FROM A LIST AUTOMATICALLY

my_set = {1, 2, 3, 3,4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [12]:
#DICTIONARY {represented with curly brackets, key-value pairs}

user= {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(user["name"])  # Accessing value by key
print(user.get("age"))  # Another way to access value by key

Alice
30